<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <system.serviceModel>
    <client>
      <endpoint name="TemperatureServiceEndpoint"
                address="net.tcp://localhost:9001/TemperatureService"
                binding="netTcpBinding"
                contract="DUS.Contracts.ITemperatureService" />
    </client>
  </system.serviceModel>
</configuration>
